* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
header , main{
    max-width: 1140px;
    margin: 0px auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.logo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 45px;
}

.menu {
    display: none;
}


.nav-title,
.footer-logo h3 {
    color: #131318;
    font-size: 2.25rem;
    font-weight: 800;
}

nav .logo .nav-title span,
.footer-logo span {
    color: #FF5400;
}

.nav-link a {
    color: #424247;
    font-size: 18px;
    text-decoration: none;
}

.nav-link a:nth-child(1) {
    color: #FF5400;
    font-weight: 700;
}
/* banner section  */
.banner-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 110px 0;
    border-radius: 16px;
    margin-bottom: 100px;



}



.banner-input {
    margin: 30px 0;
    display: flex;
    gap: 30px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 20px;


}

.banner-text {
    text-align: center;
}

.banner-text p {
    margin: 25px 0;
}

.banner-text h3 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    line-height: normal;
}

.banner-text p {
    color: #FFF;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}




.banner-input input {
    width: 160px;
    height: 50px;
    padding-left: 20px;
    border-radius: 8px;
    background: #FFF;
    border: none;
}

input[type=submit] {
    color: #FFF;
    text-align: center;
    font-weight: 700;
    border-radius: 8px;
    background: #FF5400;
    padding-left: 0;
}

.fa-angle-down {
    position: relative;
    right: 40px;
}

.fa-magnifying-glass {
    color: #fff;
    position: relative;
    left: 50px;
}

/* popular section  */
.popular-section{
    display: flex;
    gap: 55px;
}
.popular-text{
    width: 50%;
   
}
.popular-text h3{
    color: #131318;
    font-size: 40px;
        font-style: normal;
        font-weight: 800;
}
.popular-text p{
    color: rgba(19, 19, 24, 0.70);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        margin: 20px 0;
        
}
.popular-ul li{
color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin: 20px 0;
}
.read-more{
    border-radius: 8px;
        background: #FF5400;
        color: #FFF;
            text-align: center;
            font-size: 20px;
            font-style: normal;
            font-weight: 800;
            padding: 14px;
           
            border:0;
            
}
.popular-image{
    width: 50%;
}
.popular-image img{
    width: 100%;
}
/* footer section  */
footer{
    text-align: center;
    background: rgba(19, 19, 24, 0.05);
    padding: 50px 0px;
}
.footer-img{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.footer-txt p{
    width: 65%;
    margin: 0 auto;
   margin-bottom: 40px;
color: #5A5A5D;  
}
.hr{
    width: 70%;
    margin: 50px auto;
    background: rgba(19, 19, 24, 0.10);
   
}
.footer-txt{
    margin: 20px 0px;
}
.social-icon{
    display: flex;
    justify-content: center;
    gap: 20px;

}
.copy{
    color: #131318;
font-weight: 300;
}










